/*css styles!*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
.homecont {
	width: 100%;
	display: flexbox;
}
.Welcome, .Welcome2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 25px;
}	

.Welcome h2, .Welcome2 h2{
	display: flex;
	font-size: 2rem;
}

.Welcome p, .Welcome2 p {
	font-size: 18px;
	margin-top: 30px;
}




.boxes {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
	height: 20%;
	background: url(images/breathtaking.jpg),#fff4f0;
    background-size: 100%;
}
.boxes-box1 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    margin: 40px 30px 20px 80px; ;
	padding: 20px;
}
.boxes h3 {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 15px;
}
.boxes p {
    font-size: 15px;
}
.boxes-box2 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 20px;
    
}
.boxes-box3 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 110px;
    
}
.boxes-box4 {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 46px;
    margin-top: 35px;
}
/* About us page code below*/
.whole{
	background: url(images/mountains.jpg);
	background-size: 100%;
}
.Main-content{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
	height: 20%;
}
.Main-content h2{
	text-align: start;
	margin-bottom: 15px;
	font-style: oblique;
	font-size: 2rem;
}
.about-us{
    width: 500px;
    height: 250px;
    margin: 40px 30px 20px 80px; ;
	padding: 20px;
	color: white;
}
.about-us2{
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 10px;
	margin-top: 20px;
	color: white;
}
.about-us3{
    width: 500px;
    height: 250px;
    padding: 20px;
	margin-left: 110px;
	color: white;
	background:rgba(78, 75, 75, 0.5);
}
.about-us4{
    width: 500px;
    height: 250px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 46px;
	margin-top: 35px;
	color: white;
	background:rgba(78, 75, 75, 0.5);
}
.footer {
	color:hotpink;
	
	position: absolute;
	bottom: 1px;
	left: 800px;
}
